asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
colorama==0.4.6
Django==5.2.13
django-stubs==6.0.3
django-stubs-ext==6.0.3
factory_boy==3.3.3
Faker==40.15.0
idna==3.13
iniconfig==2.3.0
librt==0.9.0
mypy==1.20.2
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
pytest-django==4.12.0
python-dotenv==1.2.2
requests==2.33.1
ruff==0.15.12
sqlparse==0.5.5
stripe==15.1.0
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
